@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Nunito Regular'), local('Nunito-Regular'), url(Nunito.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html, body {
  margin: 0;
  padding: 0;
  position: relative;
}

a {
  text-decoration: none;
}

body {
  background: #202020;
  min-width: 518px;
}

#content-wrapper {
  position: relative;
}

#content {
  flex: 1 1 auto;
  max-width: 1170px;
  padding-top: 56px;
  font-family: 'Nunito', sans-serif;
  position: relative;
  margin: 0 auto;
  padding-left: 8px;
  padding-right: 8px;
}

#header {
  position: relative;
  display: flex;
  flex-direction: column;
}

#tst-text {
  color: rgba(255, 255, 255, 0.8);
  background-image: url("logo_white_hdpi.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 16px auto;
  height: 224px;
  max-width: 700px;
  width: 100%;
  line-height: 224px;
  text-align: center;
}

#tst-btn-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 40px;
}

#tst-btn-row .tst-btn {
  width: 56px;
  height: 56px;
  background-size: cover;
  filter: drop-shadow(0px 0px 7px #24537c);
}

#tst-btn-row .btn-outer {
  cursor: pointer;
  padding: 6px;
  background-color: rgba(255, 255, 255, 0);
  transition: all ease 0.25s;
  border-radius: 8px;
}

#tst-btn-row .btn-outer:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

#tst-btn-row .btn-outer:active {
  background-color: rgba(255, 255, 255, 0.05);
}

#tst-btn-row .tst-btn:active {
  transition: all ease 0.5s;
}

#header #tst-btn-row .btn-outer:not(:first-child) {
  margin-left: 20px;
}

#about-row {
  display: flex;
  flex-direction: row;
  margin-top: -24px;
}

#about {
  filter: drop-shadow(0px 0px 3px #191919);
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;

}

#recent-posts {
  filter: drop-shadow(0px 0px 3px #191919);
  height: 432px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 16px;
}

#projects {
  filter: drop-shadow(0px 0px 3px #191919);
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
}

#links {
  filter: drop-shadow(0px 0px 3px #191919);
  margin-left: 16px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 352px;
  width: 100%;
}

#about-title {
  height: 56px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  width: 240px;

  line-height: 56px;
  vertical-align: middle;
  text-align: center;

  color: #EFEFEF;
  font-family: 'Nunito', sans-serif;
  font-size: 25px;
}

#about-content {
  flex: 1;
  margin: 8px 8px 24px;
  padding: 16px 16px 16px 16px;
  color: #FFFFFF;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  overflow: hidden;
}

#recent-posts-title {
  height: 56px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  width: 240px;

  line-height: 56px;
  vertical-align: middle;
  text-align: center;

  color: #EFEFEF;
  font-family: 'Nunito', sans-serif;
  font-size: 25px;
}

#recent-posts-content {
  position: relative;

  flex: 1;
  margin: 8px 8px 24px;
  color: #FFFFFF;
  white-space: pre-wrap;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;

  opacity: 0;
  transition: all 0.5s ease;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#projects-title {
  margin: 48px auto 0 auto;
  vertical-align: middle;
  text-align: center;

  color: #EFEFEF;
  font-family: 'Nunito', sans-serif;
  font-size: 25px;
}

#projects-content {
  position: relative;

  flex: 1;
  margin: 8px 8px 72px 8px;
  color: #FFFFFF;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 16px;
}

#projects-content .content-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 1157px) {
  #projects .project {
    flex: 1;
  }
}

#projects .project {
  min-width: 345px;
  width: 345px;
  height: 384px;
  margin: 8px;
  transition: 0.1s all ease;
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgba(59, 83, 109, 0.8);
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.05));
}

#projects .project-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  border-radius: 8px;
  transition: 0.25s all ease;
  pointer-events: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

#projects .project-header {
  background-color: rgba(66, 165, 245, 0.6);
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 100%;
  border-radius: 8px 8px 0 0;
  transition: 0.1s all ease;
  display: flex;
  flex-direction: column;
}

#projects .project-logo {
  flex: 1 1 auto;
}

#projects .project-title {
  padding: 8px 16px;
  font-size: 24px;
}

#projects .content {
  flex: 1 1 auto;
  padding: 16px;
}

#projects .btn-row {
  display: flex;
  flex-direction: row;
  margin: 0 0 12px 12px;
  justify-content: flex-end;
}

#projects .btn {
  transition: all 0.25s ease;
  font-weight: bold;
  color: #fff;
  border-radius: 4px;
  padding: 6px 20px;
  font-size: 16px;
  margin-right: 12px;
  cursor: pointer;
  position: relative;
}

#projects .btn:hover {
  background-color: rgba(215, 215, 255, 0.1);
}

#projects .btn:active {
  background-color: rgba(215, 215, 255, 0.1);
}

#projects .btn-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  border-radius: 4px;
  transition: 0.25s all ease;
  border: 1px rgba(255,255,255,0.06) solid;
  pointer-events: none;
}

#projects .btn:hover .btn-bg {
  border: 1px rgba(255,255,255,0.1) solid;
}

#projects .btn-icon {
  margin-right: 18px;
  padding-bottom: 2px;
  vertical-align: middle;
}

#links-content {
  flex: 1;
  margin: 8px 8px 24px;
  padding-top: 16px;
  padding-bottom: 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  font-weight: bold;
}

#links-content.shrink a.link-row {
  margin: 0 8px;
}

#links-content .link-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#links-title {
  height: 56px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  width: 248px;
  align-self: flex-end;

  line-height: 56px;
  vertical-align: middle;
  text-align: center;

  color: #EFEFEF;
  font-family: 'Nunito', sans-serif;
  font-size: 25px;
}

.bg-svg {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -3;
}

.bg-svg > * {
  width: 100%;
  height: 100%;
}

#links-content a.link-row {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  color: #EFEFEF;
  flex-direction: row;
  display: flex;
  align-items: center;
  padding: 4px 24px 4px 24px;
  margin-left: 16px;
  margin-right: 16px;
  border-radius: 4px;
  transition: all ease 0.25s;
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0);
}

#links-content .link-row:hover {
  background-color: rgba(215, 215, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.0);
  transition: all ease 0.25s;
}

#links-content .link-row:active {
  background-color: rgba(215, 215, 255, 0.05);
  transition: all ease 0.5s;
}

#links-content .link-icon {
  width: 24px;
  height: 24px;
  margin-right: 16px;
  transition: all ease 0.2s;
}

#links-content .link-row:hover .link-icon {
  margin-right: 16px;
  transition: all ease 0.2s;
}

#links-content .link-separator {
  margin-bottom: 32px;
}

.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.blog-post {
  transition: all ease 0.2s;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;

  height: 52px;
  color: #FFF;

  padding-left: 16px;

  border-top: 2px solid;
  border-bottom: 2px solid;
  border-color: rgba(255, 255, 255, 0);
}

.blog-post:hover {
  transition: all ease 0.2s;
  background-color: rgba(165, 185, 207, 0.1);
  border-color: rgba(255, 255, 255, 0.05);
}

.blog-post:active {
  transition: all ease 0.2s;
  background-color: rgba(165, 185, 207, 0.05);
}

.blog-post-pin {
  background-image: url("icons/links/pin.svg");
  background-size: cover;
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.blog-posts-bg {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -2;
  background-color: #303d4f;
  transition: all ease 0.5s;
  pointer-events: none;
}

.blog-posts-bg-inner {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -2;
  background-size: cover;
  background-position: center;
  filter: blur(2px) saturate(50%) sepia(100%) hue-rotate(180deg);
  pointer-events: none;
  opacity: 0.1;
}

#blog-posts-bg-main .blog-posts-bg-inner {
  filter: blur(2px) saturate(50%) sepia(100%) hue-rotate(180deg);
  opacity: 0.1;
}

#blog-posts-bg-back .blog-posts-bg-inner {
  filter: blur(2px) saturate(50%) sepia(100%) hue-rotate(180deg);
  opacity: 0.1;
}

#blog-posts-bg-main {
  opacity: 0;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #303d4f;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  transition: all 0.2s ease;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}