@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

body {
  background: #202020;
  background-size: cover;
  min-width: 518px;
}

#content-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
  position: relative;
}

#content {
  flex: 1 1 auto;
  margin-top: 128px;
  font-family: 'Nunito', sans-serif;
}

#header {
  width: 100%;
  height: 396px;
  position: relative;
  display: flex;
  flex-direction: column;
}

#tst-text {
  color: #FFFFFF;
  font-family: 'Share Tech Mono', monospace;
  font-size: 64px;
  margin-top: 0px;
  height: 224px;
  line-height: 224px;
  margin-left: 16px;
  margin-right: 16px;
  text-align: center;

}

#tst-btn-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 46px;
}

#tst-btn-row .tst-btn {
  cursor: pointer;
  width: 56px;
  height: 56px;
  transform: translate(0,0);
  transition: all ease 0.5s;
  background-size: cover;
}

#tst-btn-row .tst-btn:active {
  transition: all ease 0.5s;
}

#header #tst-btn-row .tst-btn:not(:first-child) {
  margin-left: 32px;
}

#about-row {
  display: flex;
  flex-direction: row;
  margin-top: -24px;
}

#about {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

#recent-posts {
  height: 432px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 16px;
}

#projects {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
}

#links {
  margin-left: 16px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 352px;
  width: 100%;
}

#about-title {
  height: 56px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  width: 240px;

  line-height: 56px;
  vertical-align: middle;
  text-align: center;

  color: #EFEFEF;
  font-family: 'Nunito', sans-serif;
  font-size: 25px;
}

#about-content {
  flex: 1;
  margin: 8px 8px 24px;
  padding: 16px 16px 16px 16px;
  color: #FFFFFF;
  white-space: pre-wrap;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
}

#recent-posts-title {
  height: 56px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  width: 240px;

  line-height: 56px;
  vertical-align: middle;
  text-align: center;

  color: #EFEFEF;
  font-family: 'Nunito', sans-serif;
  font-size: 25px;
}

#recent-posts-content {
  position: relative;

  flex: 1;
  margin: 8px 8px 24px;
  color: #FFFFFF;
  white-space: pre-wrap;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;

  opacity: 0;
  transition: all 0.5s ease;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#projects-title {
  margin: 48px auto 0 auto;
  vertical-align: middle;
  text-align: center;

  color: #EFEFEF;
  font-family: 'Nunito', sans-serif;
  font-size: 25px;
}

#projects-content {
  position: relative;

  flex: 1;
  margin: 8px 8px 72px 8px;
  color: #FFFFFF;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 16px;
}

#projects-content .content-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#projects .project {
  width: 345px;
  height: 384px;
  margin: 8px;
  transition: 0.1s all ease;
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
}

#projects .project-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  border-radius: 8px;
  transition: 0.25s all ease;
  border: 2px rgba(255,255,255,0.2) solid;
  pointer-events: none;
}

#projects .project-header {
  background-color: rgba(66, 165, 245, 0.5);
  height: 200px;
  width: 100%;
  border-radius: 8px 8px 0 0;
  transition: 0.1s all ease;
  display: flex;
  flex-direction: column;
}

#projects .project-logo {
  flex: 1 1 auto;
}

#projects .project-title {
  padding: 8px 16px;
  font-size: 24px;
}

#projects .content {
  flex: 1 1 auto;
  padding: 16px;
}

#projects .btn-row {
  display: flex;
  flex-direction: row;
  margin: 0 0 16px 16px;
  justify-content: flex-end;
}

#projects .btn {
  background-color: rgba(66, 165, 245, 0.5);
  transition: all 0.25s ease;
  font-weight: bold;
  border-radius: 6px;
  padding: 6px 20px;
  font-size: 16px;
  margin-right: 16px;
  cursor: pointer;
  position: relative;
}

#projects .btn:hover {
  background-color: rgba(66, 165, 245, 0.7);
}

#projects .btn-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  border-radius: 8px;
  transition: 0.25s all ease;
  border: 2px rgba(255,255,255,0) solid;
  pointer-events: none;
}

#projects .btn:hover .btn-bg {
  border: 2px rgba(255,255,255,0.3) solid;
}

#projects .btn-icon {
  margin-right: 8px;
  padding-bottom: 4px;
  vertical-align: middle;
}

#links-content {
  flex: 1;
  margin: 8px 8px 24px;
  padding-top: 16px;
  padding-bottom: 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  font-weight: bold;
}

#links-content.shrink .link-row {
  border-radius: 4px;
}

#links-content .link-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#links-title {
  height: 56px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  width: 248px;
  align-self: flex-end;

  line-height: 56px;
  vertical-align: middle;
  text-align: center;

  color: #EFEFEF;
  font-family: 'Nunito', sans-serif;
  font-size: 25px;
}

.bg-svg {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -3;
}

.bg-svg > * {
  width: 100%;
  height: 100%;
}

#links-content .link-row {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  color: #EFEFEF;
  flex-direction: row;
  display: flex;
  align-items: center;
  padding: 4px 32px 4px 32px;
  transition: all ease 0.25s;
  cursor: pointer;
}

#links-content .link-row:hover {
  background-color: rgba(215, 215, 255, 0.1);
  transition: all ease 0.25s;
}

#links-content .link-row:active {
  background-color: rgba(215, 215, 255, 0.05);
  transition: all ease 0.5s;
}

#links-content .link-icon {
  width: 24px;
  height: 24px;
  margin-right: 16px;
  transition: all ease 0.2s;
}

#links-content .link-row:hover .link-icon {
  margin-right: 16px;
  transition: all ease 0.2s;
}

#links-content .link-separator {
  margin-bottom: 32px;
}

.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.blog-post {
  transition: all ease 0.2s;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;

  height: 52px;

  padding-left: 16px;

  border-top: 2px solid;
  border-bottom: 2px solid;
  border-color: rgba(255, 255, 255, 0);
}

.blog-post:hover {
  transition: all ease 0.2s;
  background-color: rgba(165, 185, 207, 0.1);
  border-color: rgba(255, 255, 255, 0.05);
}

.blog-post:active {
  transition: all ease 0.2s;
  background-color: rgba(165, 185, 207, 0.05);
}

.blog-post-pin {
  background-image: url("icons/links/pin.svg");
  background-size: cover;
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.blog-posts-bg {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -2;
  background-color: #303d4f;
  transition: all ease 0.5s;
}

.blog-posts-bg-inner {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -2;
  background-size: cover;
  background-position: center;
  filter: blur(2px) saturate(50%) sepia(100%) hue-rotate(180deg);
  transform: scale(1.3);
  opacity: 0.1;
}

#blog-posts-bg-main .blog-posts-bg-inner {
  filter: blur(2px) saturate(50%) sepia(100%) hue-rotate(180deg);
  opacity: 0.1;
}

#blog-posts-bg-back .blog-posts-bg-inner {
  filter: blur(2px) saturate(50%) sepia(100%) hue-rotate(180deg);
  opacity: 0.1;
}

#blog-posts-bg-main {
  opacity: 0;
}

::-webkit-scrollbar {
  width: 6px;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  transition: all 0.2s ease;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.7);
}