@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: #202225;
}

#content-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  min-height: 100%;
}

#content {
  flex: 1 1 auto;
  max-width: 1170px;
  min-height: 100%;
  margin-top: 128px;
}

#header {
  width: 100%;
  height: 448px;
  position: relative;
  display: flex;
  flex-direction: column;
}

#tst-text {
  color: #FFFFFF;
  font-family: 'Share Tech Mono', monospace;
  font-size: 64px;
  margin-top: 44px;
  height: 224px;
  line-height: 224px;
  margin-left: 16px;
  margin-right: 16px;
  text-align: center;
}

#tst-btn-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 46px;
}

#tst-btn-row .tst-btn {
  width: 64px;
  height: 64px;
  outline: 1px solid #909090;
}

#header #tst-btn-row .tst-btn:not(:first-child) {
  margin-left: 32px;
}

#about-row {
  display: flex;
  flex-direction: row;
  margin-top: -32px;
}

#about {
  width: 768px;
  height: 504px;
  display: flex;
  flex-direction: column;
  position: relative;
}

#links {
  height: 504px;
  margin-left: 16px;
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 288px;
}

#about-title {
  height: 56px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  width: 240px;

  line-height: 56px;
  vertical-align: middle;
  text-align: center;

  color: #EFEFEF;
  font-family: 'Nunito', sans-serif;
  font-size: 25px;
}

#about-content {
  flex: 1;
  margin: 8px 8px 24px;
}

#links-content {
  flex: 1;
  margin: 8px 8px 24px;
}

#links-title {
  height: 56px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  width: 232px;
  align-self: flex-end;

  line-height: 56px;
  vertical-align: middle;
  text-align: center;

  color: #EFEFEF;
  font-family: 'Nunito', sans-serif;
  font-size: 25px;
}

.bg-svg {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.bg-svg > * {
  width: 100%;
  height: 100%;
}